
<form action="">
    <label for="search"> Search Lesson </label>
    <input type="text" name="searchLes">
    <button>Search</button>
</form>

{{!-- esto es con el app.get ( array y filter ) en server.
{{#each searchLesson}}

    {{this.topic}}
    {{this.description}}
    
{{/each}}
--}}


{{#if searchLesson }}
    {{searchLesson.topic}}
    {{searchLesson.description}}
{{else}}
    <p> La leccion no existe </p>
{{/if }}



